@import './colors';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  color: $white;
  padding: 0 1rem;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $border;
}